<!DOCTYPE html>
<html>
    <head>
        <title>StudyApp</title>
    </head>
    <body>
    
        <h1>Welcome to the StudyApp!</h1>

        <h2>Menu</h2>
        <a href="register">Sign Up</a>
        <br>
        <a href="login">Login</a>
        <br>
        <a href="timer">Timer</a>
        <br>
        <a href="notes">Notes</a>
        <br>
        <a href="menu">Menu</a>

    </body>
</html>