<!DOCTYPE html>
<html>
    <head>
        <title>Study App</title>
    </head>
    <body>

    <h2>Sign Up Form</h2>
    
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Submit</button>
    </form>
    
    </body>
</html>