<!DOCTYPE html>
<html>
    <head>
    
        <meta name="viewport" content="minimum-scale=1.0, width=device-width, 
        maximum-scale=1.0, user-scalable=no"/>
        <meta charset="utf-8">
    
        <title>StudyApp</title>

    
    </head>
    <body>
    
        <h1 align="center">Welcome to the StudyApp!</h1>
        
        <h2>Menu</h2>
        
        <a href="timer">Timer</a>
        <br>
        <a href="register">Sign Up</a>
        <br>
        <a href="login">Login</a>        

    </body>
</html>
